<div class="auth-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Register</h1>
        <form ng-submit="register()" novalidate>
         <div class="form-group">
           <input type="text" class="form-control" id="username" placeholder="username" ng-model="user.username" required autofocus>
         </div>
         <div class="form-group">
           <input type="password" class="form-control" id="password" placeholder="password" ng-model="user.password" required>
         </div>
         <button type="submit" class="btn btn-default">Register</button>
        </form>
        <div class="other-auth-option">
          <small>Already have an account? <a href="/#!/login">Login</a></small>
        </div>
      </div>
    </div>
  </div>
</div>